################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/netcoreapp2.0
/obj
*.user
/bin/Debug/netcoreapp2.1
/bin/Release/netcoreapp2.1
/.vscode
/bin/Debug/netcoreapp2.2
