<div id="map"></div>
<script>
    // Initialize and add the map
    function initMap() {
        if (globalPosition == null) {
            console.log('waiting for position');
            setTimeout(initMap, loopsWaitInterval);
            return;
        }
        var me = {
            lat: globalPosition.coords.latitude,
            lng: globalPosition.coords.longitude
        };
        atmsMap = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 4,
                center: me
            });
        var marker = new google.maps.Marker({
            draggable: true,
            raiseOnDrag: true,
            position: me,
            map: atmsMap,
            icon: {
                url: "//maps.google.com/mapfiles/ms/icons/green-dot.png"
            }
        });
        google.maps.event.addListener(marker, "dragend", function (event) {
            console.log('new position set');
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
            globalPosition.coords.latitude  = lat;
            globalPosition.coords.longitude = lng;
        });
        loadMarkers();
    }

    function loadMarkers() {
        if (atms == null) {
            console.log('waiting for atms');
            setTimeout(loadMarkers, loopsWaitInterval);
            return;
        }
        var bounds = new google.maps.LatLngBounds();
        atms.forEach(atm => {
            var pos = {
                lat: atm.latitude,
                lng: atm.longitude
            };
            var url = "http://www.google.com/maps/place/" + atm.latitude + "," + atm.longitude;
            addMarker(pos, atm.location == null ? "Cajero" : atm.location, atmsMap, url);
            var loc = new google.maps.LatLng(pos.lat, pos.lng);
            bounds.extend(loc);
        });
        if (atmsMap != null) {
            atmsMap.fitBounds(bounds); // auto-zoom
            //atmsMap.panToBounds(bounds); //auto-center
        }
    }

    initMap();
</script>