<div id="map"></div>
<script>
    // Initialize and add the map
    var marker = null;
    var markers = [];
    var atmsMap = null;
    
    function drawMe(map) {
        if (marker != null)
            marker.map = null;
        marker = new google.maps.Marker({
            position: {
                lat: globalPosition.coords.latitude,
                lng: globalPosition.coords.longitude
            },
            map: map,
            icon: {
                url: "//maps.google.com/mapfiles/ms/icons/green-dot.png"
            }
        });
    }

    function loadMarkers() {
        setMapOnAll(markers, null);
        if (atms == null) {
            console.log('waiting for atms');
            setTimeout(loadMarkers, loopsWaitInterval);
            return;
        }
        var bounds = new google.maps.LatLngBounds();
        atms.forEach(atm => {
            var pos = {
                lat: atm.latitude,
                lng: atm.longitude
            };
            var url = "http://www.google.com/maps/place/" + atm.latitude + "," + atm.longitude;
            markers.push(addMarker(pos, atm.location == null ? "Cajero" : atm.location, atmsMap, url,'', null));
            var loc = new google.maps.LatLng(pos.lat, pos.lng);
            bounds.extend(loc);
        });
        if (atmsMap != null) {
            atmsMap.fitBounds(bounds); // auto-zoom
            atmsMap.panToBounds(bounds); //auto-center
        }
    }

    function initMap() {
        if (globalPosition == null) {
            console.log('waiting for position');
            setTimeout(initMap, loopsWaitInterval);
            return;
        }
        atmsMap = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 4,
                center: {
                    lat: globalPosition.coords.latitude,
                    lng: globalPosition.coords.longitude
                }
            });

        drawMe(atmsMap);
        //loadMarkers();
    }
    initMap();
</script>