<div class="ibox">
    <div class="ibox-content">
        <table class="footable table table-stripped toggle-arrow-tiny middle" data-page-size="20">
            <thead>
                <tr>
                    <th data-sort-ignore="true"></th>
                    <th>Distribuidor</th>
                    <th data-hide="phone">Nombre</th>
                    <th data-hide="all">Servicios</th>
                    <th data-hide="all">Formas de pago</th>
                    <th data-hide="all">Horario</th>
                    <th data-hide="all">Ubicaci&oacute;n</th>
                    <th data-hide="phone">Distancia aprox.</th>
                    <th data-hide="phone">Gasolina 93</th>
                    <th data-hide="phone">Gasolina 95</th>
                    <th data-hide="phone">Gasolina 97</th>
                    <th data-hide="phone">Diesel</th>
                    <th data-hide="phone">Kerosene</th>
                    <th data-hide="phone">GLP</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="station in stations" footable-refresh>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <img ng-src="{{station.distribuidor.logo_horizontal_svg}}" height="28px" width="100px" alt="{{station.distribuidor.nombre}}"
                        />
                    </td>
                    <td>
                        {{station.razon_social | capitalize | truncate: 50: '...'}}
                    </td>
                    <td>
                        <span ng-repeat="(key, value) in station.servicios" ng-if="value">
                            {{key | capitalize}}<span ng-if="!$last">&nbsp;-&nbsp;</span>
                        </span>
                    </td>
                    <td>
                        <span ng-repeat="(key, value) in station.metodos_de_pago" ng-if="value">
                            {{key | capitalize}}<span ng-if="!$last">&nbsp;-&nbsp;</span>
                        </span>
                    </td>
                    <td>
                        {{station.horario_atencion}}
                    </td>
                    <td>
                        {{station.direccion_calle}} {{station.direccion_numero}} / {{station.nombre_comuna}}
                        <a ng-show="!showLocationWarning" target="_blank" ng-href="http://www.google.com/maps/place/{{station.ubicacion.latitud}},{{station.ubicacion.longitud}}">
                            ¿C&oacute;mo llegar?&nbsp;<i class="fas fa-map-marked-alt"></i>
                        </a>
                    </td>
                    <td>
                        {{station.ubicacion.distancia | number:0 }}&nbsp;metros
                        <a ng-show="!showLocationWarning" target="_blank" ng-href="http://www.google.com/maps/place/{{station.ubicacion.latitud}},{{station.ubicacion.longitud}}">
                            <i class="fas fa-map-marked-alt"></i>
                        </a>
                    </td>
                    <td ng-repeat="fuelType in fuelTypes">
                        <span ng-show="station.precios['ranking ' + fuelType] < 4" class="badge" ng-class="{'badge-primary': station.precios['ranking ' + fuelType] == 1 , 'badge-success': station.precios['ranking ' + fuelType] == 2}">
                            {{station.precios['ranking ' + fuelType]}}
                        </span>
                        {{station.precios[fuelType]}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="13">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>