<div id="map"></div>
<script>
    // Initialize and add the map
    var markerCombustible = null;
    var markersCombustible = [];
    var combustibleMap = null;

    function drawMe(map) {
        if (markerCombustible != null) {
            markerCombustible.map = null;
        }
        markerCombustible = new google.maps.Marker({
            position: {
                lat: globalPosition.coords.latitude,
                lng: globalPosition.coords.longitude
            },
            map: map,
            icon: {
                url: "//maps.google.com/mapfiles/ms/icons/green-dot.png"
            }
        });
    }

    function loadMarkers() {
        setMapOnAll(markersCombustible, null);
        if (stations == null) {
            console.log('waiting for stations');
            setTimeout(loadMarkers, loopsWaitInterval);
            return;
        }
        var bounds = new google.maps.LatLngBounds();
        stations.forEach(station => {
            //console.log('foreach', atm);
            var pos = {
                lat: station.ubicacion.latitud,
                lng: station.ubicacion.longitud
            };
            var url = "http://www.google.com/maps/place/" + pos.lat + "," + pos.lng;
            var ranking = station.precios['ranking ' + fuelType.replaceAll('_', ' ')];
            var icon = "img/marker_";
            switch (ranking) {
                case 1:
                    icon = icon + 'green1.png';
                    break;
                case 2:
                    icon = icon + 'blue2.png';
                    break;
                case 3:
                    icon = icon + 'red3.png';
                    break;
                default:
                    icon = null;
                    break;
            }
            //console.log('rank', ranking, icon);
            markersCombustible.push(addMarker(pos, station.distribuidor.nombre, combustibleMap, url, '', icon));
            //TODO add ranking, prices and other usefull information
            var loc = new google.maps.LatLng(pos.lat, pos.lng);
            bounds.extend(loc);
        });
        if (combustibleMap != null) {
            combustibleMap.fitBounds(bounds); // auto-zoom
            //atmsMap.panToBounds(bounds); //auto-center
        }
    }

    function initMapCombustible() {
        if (globalPosition == null) {
            console.log('waiting for position');
            setTimeout(initMapCombustible, loopsWaitInterval);
            return;
        }
        combustibleMap = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 4,
                center: {
                    lat: globalPosition.coords.latitude,
                    lng: globalPosition.coords.longitude
                }
            });

        drawMe(combustibleMap);
        //loadMarkers();
    }
    initMapCombustible();
</script>