<div id="map"></div>
<script>
    // Initialize and add the map
    function initMapCombustible() {
        if (globalPosition == null) {
            console.log('waiting for position');
            setTimeout(initMapCombustible, loopsWaitInterval);
            return;
        }
        var me = {
            lat: globalPosition.coords.latitude,
            lng: globalPosition.coords.longitude
        };
        combustibleMap = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 4,
                center: me
            });
        var marker = new google.maps.Marker({
            draggable: true,
            raiseOnDrag: true,
            position: me,
            map: combustibleMap,
            icon: {
                url: "//maps.google.com/mapfiles/ms/icons/green-dot.png"
            }
        });
        google.maps.event.addListener(marker, "dragend", function (event) {
            console.log('new position set');
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
        });
        loadMarkers();
    }

    function loadMarkers() {
        if (stations == null) {
            console.log('waiting for stations');
            setTimeout(loadMarkers, loopsWaitInterval);
            return;
        }
        var bounds = new google.maps.LatLngBounds();
        stations.forEach(station => {
            //console.log('foreach', atm);
            var pos = {
                lat: station.ubicacion.latitud,
                lng: station.ubicacion.longitud
            };
            var url = "http://www.google.com/maps/place/" + pos.lat + "," + pos.lng;
            addMarker(pos, station.distribuidor.nombre, combustibleMap, url);
            //TODO add ranking, prices and other usefull information
            var loc = new google.maps.LatLng(pos.lat, pos.lng);
            bounds.extend(loc);
        });
        if (combustibleMap != null) {
            combustibleMap.fitBounds(bounds); // auto-zoom
            //atmsMap.panToBounds(bounds); //auto-center
        }
    }
    initMapCombustible();
</script>