<div class="gray-bg">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>JAM Tech.cl</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">
                    <strong>Combustible Stations Finder</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content" ng-controller="StationsCtrl as main">
        <div class="row animated fadeInRight">
            <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox-content m-b-sm border-bottom">
                <div class="p-xs">
                    <div class="pull-left m-r-md">
                        <i class="fas fa-gas-pump text-navy mid-icon"></i>
                    </div>
                    <br />
                    <h2>Combustible Stations<h2>
                    <br />
                    <small>Powered by http://api.jamtech.cl</small>
                    <small class="pull-right">{{stations.length}} stations found in a {{maxDistance}} meters radius</small>                    
                </div>
            </div>
            <div class="ibox-content forum-container">
                <div class="forum-item active" ng-repeat="station in stations | orderBy:'ubicacion.distancia'">
                    <div class="row">
                        <!--Station description -->
                        <div class="col-lg-6">
                            <div class="forum-icon">
                                <img ng-src="{{station.distribuidor.logo_svg}}" height="32px" width="32px" alt="{{station.distribuidor.nombre}}" />
                            </div>
                            <a class="forum-item-title">{{station.razon_social | capitalize}}</a>
                            <br \>
                            <div class="forum-sub-title">
                                <b>Otros servicios disponibles:</b>
                                <span ng-repeat="(key, value) in station.servicios" ng-if="value">
                                    {{key | capitalize}}
                                </span>
                            </div>
                            <div class="forum-sub-title">
                                <b>Formas de pago:</b>
                                <span ng-repeat="(key, value) in station.metodos_de_pago" ng-if="value">
                                    {{key | capitalize}}
                                </span>
                            </div>
                            <div class="forum-sub-title">
                                <b>Dirección:</b>
                                <span>
                                    {{station.direccion_calle}} {{station.direccion_numero}} / {{station.nombre_comuna}}
                                </span>
                            </div>
                            <div class="forum-sub-title">
                                <b>Horario:</b>
                                <span>
                                    {{station.horario_atencion}}
                                </span>
                            </div>
                            <br />
                        </div>
                        <!-- Prices -->
                        <div class="col-lg-6 text-center">
                            <div class="row">
                                <div class="col-sm-3"  ng-repeat="(key, value) in station.precios" ng-if="value > 0 && !key.startsWith('ranking')">
                                        <span class="views-number">
                                            <br />
                                            <br />
                                            <p>{{value | currency : "$" : 0}}</p>
                                            <p><small>{{key | capitalize}}</small></p>
                                           </span>
                                        <span><b>R:</b>&nbsp;{{station.precios['ranking ' + key]}}</span>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-lg-6">  
                            <small class="pull-left"><b>Fecha actualizaci&oacute;n&nbsp;</b><br />{{station.fecha_hora_actualizacion}}</small>
                        </div>
                        <div class="col-lg-6">  
                            <div class="pull-right">
                                <a target="_blank" ng-href="http://www.google.com/maps/place/{{station.ubicacion.latitud}},{{station.ubicacion.longitud}}">
                                    <i class="fas fa-map-marked-alt"></i>
                                    ¿Como llegar?
                                </a>
                                <br/>
                                <small>{{station.ubicacion.distancia | number:0}} metros aprox.</small>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>