<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center text-navy">
                <img class="pull-right" src="img/favicon/apple-icon-60x60.png" alt="logo" />
                <h1>
                    {{main.helloText}}
                </h1>
                <h2>ALL IN ONE</h2>
                <br />
                <div class="wow bounceIn animated">
                    <img src="img/landing/perspective.png" style="max-width: 40%;">
                </div>
            </div>
        </div>
    </div>
    <div ng-if="false">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    <h3>Session iniciada</h3>
                    <br />
                    <img class="img-circle" ng-src="{{user.imageUrl}}" alt="{{user.name}}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center m-t-lg">
                <div class="col-lg-12">
                    <h3>{{user.name}}</h3>
                    <h4>{{user.email}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="user==null">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    <h3>Elige con que cuenta quieres iniciar sesi&oacute;n:</h3>
                    <br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-login btn-block btn-social btn-google" g-login>
                    <span class="fab fa-google"></span>Google
                </a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-login btn-block btn-social btn-facebook" fb-login disable>
                    <span class="fab fa-facebook"></span>Facebook
                </a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-login btn-block btn-social btn-linkedin" linked-in>
                    <span class="fab fa-linkedin"></span>LinkedIn
                </a>
            </div>
        </div>
    </div>
</div>
</div>