<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Contraseñas guardadas
            <small>Agregar nueva contraseña</small>
        </h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-6 b-r">
                <form role="form">
                    <div class="form-group">
                        <label>Origen</label>
                        <input type="text" placeholder="Gmail" class="form-control" ng-model="newPassword.Source">
                    </div>
                    <div class="form-group">
                        <label>Usuario</label>
                        <input type="text" placeholder="Username" class="form-control" ng-model="newPassword.Username">
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" placeholder="Password" class="form-control" ng-model="newPassword.Password">
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <form role="form">
                    <div class="form-group">
                        <label>Link</label>
                        <input type="text" placeholder="http://www.gmail.com" class="form-control" ng-model="newPassword.Url">
                    </div>
                    <div class="form-group">
                        <label>Comentarios</label>
                        <input type="text" placeholder="Correo electr&oacute;nico" class="form-control" ng-model="newPassword.Comments">
                    </div>
                    <div>
                        <button class="btn btn-sm btn-primary pull-right" ng-click="addPassword()">
                            <strong>Agregar</strong>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>