<div ng-controller="ProductsCtrl as main">
    <div class="row wrapper page-heading">
        <div>
            <br />
            <img class="pull-right" src="img/favicon/apple-icon-60x60.png" alt="logo" />
        </div>
        <h2>JAM Tech.cl</h2>
        <ol class="breadcrumb">
            <li>
                <a ng-click="minimalize()">Inicio</a>
            </li>
            <li class="active">
                <strong>Buscador de productos</strong>
            </li>
        </ol>
    </div>
    <div class="row wrapper">
        <div class="p-xs">
            <div class="pull-left m-r-md">
                <i class="fas fa-shopping-cart text-navy mid-icon"></i>
            </div>
            <h2>Busqueda de productos</h2>
            <span class="pull-right">
                <brand-url />
            </span>
        </div>
    </div>
    <div class="row animated fadeInRight">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="forum-container">
                <div class="row">
                    <div class="panel panel-warning" ng-show="showLocationWarning">
                        <div class="panel-heading">
                            <i class="fa fa-warning"></i> Alerta de ubicaci&oacute;n
                        </div>
                        <div class="panel-body">
                            <p>
                                No tenemos acceso a tu ubicaci&oacute;n por lo que no podemos identificar donde est&aacute;s para darte informaci&oacute;n
                                relevante.
                                <br />Compartenos tu ubicaci&oacute;n para recibir informaci&oacute;n m&aacute;s precisa.
                                <br />En caso contrario el tiempo de carga aumentar&aacute; considerablemente.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <input type="text" placeholder="Ej: Cuaderno o pilas" name="search" class="form-control input-lg" ng-model="textToSearch"
                            focus-me="true" ng-keypress="($event.which === 13)?searchProduct(textToSearch):0">
                        <div class="input-group-btn">
                            <button class="btn btn-lg btn-primary" type="submit" ng-click="searchProduct(textToSearch)">
                                Buscar
                            </button>
                        </div>
                    </div>
                    <br /> Vista:&nbsp;
                    <div class="btn-group dropdown" uib-dropdown="">
                        <a ng-repeat="type in availableProductTemplates" ng-class="type!=gridTemplate ? 'btn':'btn btn-white'" ng-click="setTemplate(type)">
                            <i ng-class="type.iconClass"></i>
                        </a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <!-- Products Grid -->
                    <div ng-include="gridTemplate.url"></div>
                    <small class="pull-right" ng-show="products!=null">
                        <b>{{products.length}}</b> producto{{products.length>1 ? 's' : ''}} encontrado{{products.length>1 ?
                        's' : ''}}</small>
                </div>
            </div>
        </div>
    </div>
</div>