<table class="footable table table-stripped toggle-arrow-tiny middle" data-page-size="20">
    <thead>
        <tr>
            <th data-sort-ignore="true"></th>
            <th data-hide="phone">Categoria</th>
            <th data-hide="phone">Marca o Tienda</th>
            <th data-hide="">Nombre</th>
            <th data-type="number" data-hide="">Precio</th>
            <th data-hide="all">PPU</th>
            <th data-hide="all"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products" footable-refresh>
            <td>
                <img ng-src="{{product.thumb}}" alt="{{product.product_type}}" style="max-height: 80px; max-width: 80px;" />
            </td>
            <td>
                {{ product.product_type | capitalize }}
            </td>
            <td>
                {{ product.brand | capitalize }}
            </td>
            <td>
                {{ product.description | capitalize}}
            </td>
            <td>
                {{ product.price | currency : "" : 0}}
            </td>
            <td>
                {{ product.ppu }}
            </td>
            <td>
                <span ng-show="product.source!=null">Encontrado en {{product.source | capitalize}}.cl</span>
                <div class="btn-group" ng-show="product.source == 'jumbo'">
                    <button class="btn-white btn btn-xs" ng-click="viewProduct(product)">Comparar</button>
                </div>
                <div ng-show="view == 'Compare'">
                    <small>
                        Disponible en:
                        <ol>
                            <li ng-repeat="local in product.locals">
                                {{local}}
                            </li>
                        </ol>
                    </small>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                <ul class="pagination pull-right"></ul>
            </td>
        </tr>
    </tfoot>
</table>