<div class="gray-bg">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <div>
                <br />
                <img class="pull-right" src="img/favicon/apple-icon-60x60.png" alt="logo" />
            </div>
            <h2>JAM Tech.cl</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li class="active">
                    <strong>Buscador de productos</strong>
                </li>
            </ol>
            <br />
        </div>
    </div>
    <div class="wrapper wrapper-content" ng-controller="ProductsCtrl as main">
        <div class="row animated fadeInRight">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="p-xs">
                            <div class="pull-left m-r-md">
                                <i class="fas fa-shopping-cart text-navy mid-icon"></i>
                            </div>
                            <br />
                            <h2>Busqueda de productos</h2>
                            <span class="pull-right">
                                <brand-url />
                            </span>
                        </div>
                    </div>
                    <div class="ibox-content forum-container">
                        <div class="panel panel-warning" ng-show="showLocationWarning">
                            <div class="panel-heading">
                                <i class="fa fa-warning"></i> Alerta de ubicaci&oacute;n
                            </div>
                            <div class="panel-body">
                                <p>
                                    No tenemos acceso a tu ubicaci&oacute;n por lo que no podemos identificar donde est&aacute;s para darte informaci&oacute;n
                                    relevante.
                                    <br />Compartenos tu ubicaci&oacute;n para recibir informaci&oacute;n m&aacute;s precisa.
                                    <br />En caso contrario el tiempo de carga aumentar&aacute; considerablemente.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <input type="text" placeholder="Ej: Queso mantecoso" name="search" class="form-control input-lg" ng-model="textToSearch"
                                    focus-me="true" ng-keypress="($event.which === 13)?searchProduct(textToSearch):0">
                                <div class="input-group-btn">
                                    <button class="btn btn-lg btn-primary" type="submit" ng-click="searchProduct(textToSearch)">
                                        Buscar
                                    </button>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="row">
                            <div class="forum-item active">
                                <!-- new  version -->
                                <div class="row" ng-repeat="productGroup in products | chunkBy:4">
                                    <!--Product description -->
                                    <div class="col-md-3" ng-repeat="product in productGroup">
                                        <div class="ibox" height="400px">
                                            <div class="ibox-content product-box">
                                                <div class="product-imitation-small">
                                                    <img ng-src="{{product.thumb}}" alt="{{product.product_type}}" style="max-height: 100px; max-width: 100px;" />
                                                </div>
                                                <div class="product-desc">
                                                    <span class="product-price">
                                                        {{product.price | currency : "$" : 0}}
                                                    </span>
                                                    <small class="text-muted"> {{ product | getBrand | capitalize | truncate: 25: '...'}}</small>
                                                    <a class="product-name">{{product.description | capitalize | truncate: 35: '...'}}</a>
                                                    <div class="small m-t-xs">
                                                        {{product.ppu}}
                                                    </div>
                                                    <div class="m-t text-righ" ng-show="view != 'Compare' && product.ppu!=null">
                                                        <button href="#" class="btn btn-xs btn-outline btn-primary" ng-click="viewProduct(product)">Ver por local
                                                            <i class="fa fa-long-arrow-right"></i>
                                                        </button>
                                                    </div>
                                                    <div class="pull-right" ng-show="view == 'Compare'">
                                                       <!-- <br />
                                                        <span ng-show="product.ranking > 0 && product.ranking < 4" class="badge" ng-class="{'badge-primary': product.ranking == 1 , 'badge-success': product.ranking == 2}">
                                                            <b>{{product.ranking}}</b>
                                                        </span>
                                                        -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Product description -->
                                </div>
                            </div>
                            <small class="pull-right" ng-show="products!=null">
                                <b>{{products.length}}</b> producto{{products.length>1 ? 's' : ''}} encontrado{{products.length>1 ? 's' : ''}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>