<div class="wrapper wrapper-content animated fadeInRight" ng-controller="PasswordsCtrl as main">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Recordar Contraseñas
                </h1>
                <small>{{passwords == null ? '0' : passwords.length}} contraseñas encontradas</small> 
                <a><i class="fas fa-sync-alt" ng-click="refresh()"></i></a>
            </div>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="ibox-content">
            <div class="row" ng-show="false">
                <div class="col-sm-5 m-b-xs">
                    <select class="input-sm form-control input-s-sm inline">
                        <option value="0">Url or name filter</option>
                    </select>
                </div>
                <div class="col-sm-4 m-b-xs">
                    <div data-toggle="buttons" class="btn-group">
                        <label class="btn btn-sm btn-white active">
                            <input type="radio" id="option1" name="options"> All </label>
                        <label class="btn btn-sm btn-white ">
                            <input type="radio" id="option2" name="options"> Success </label>
                        <label class="btn btn-sm btn-white">
                            <input type="radio" id="option3" name="options"> Error </label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <!--
                        <input type="text" placeholder="Search" class="input-sm form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                        </span>
                        -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped middle centered">
                        <thead>
                            <tr>
                                <th>Origen</th>
                                <th>Usuario</th>
                                <th>Fecha Creaci&oacute;n</th>
                                <th>Fecha Actualizaci&oacute;n</th>
                                <th>Link</th>
                                <th>Comentarios</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="password in passwords">
                                <td>
                                    {{password.Source}}
                                </td>
                                <td>
                                    {{password.Username}}
                                </td>
                                <td>
                                    {{password.CreationDate | date : format : shortDate}}
                                </td>
                                <td>
                                    {{password.LastUpdateDate | date : format : shortDate}}
                                </td>
                                <td>
                                    {{password.Url}}
                                </td>
                                <td>
                                    {{password.Comments}}
                                </td>
                                <td>
                                    <a><i class="fas fa-copy" ng-click="copyPassword(password)"></i></a>
                                    <a><i class="fas fa-eye"  ng-click="showPassword(password)"></i></a>
                                </td>
                                <td>
                                    <a><i class="fa fa-times" ng-click="deletePassword(password)"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-include="'views/new_password.html'"></div>
    </div>
</div>