<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                    <div class="profile-element logo-element-custom" ng-click="minimalize()">
                        &nbsp;
                    </div>

                <div class="logo-element" ng-click="minimalize()">
                    <small>AIO</small>
                </div>
            </li>
            
            <li ui-sref-active="active">
                <a ui-sref="index.combustible"><i class="fas fa-gas-pump"></i> <span class="nav-label">Buscar combustible</span></a>
            </li>
            <li ui-sref-active="active">
                    <a ui-sref="index.products"><i class="fas fa-shopping-cart"></i> <span class="nav-label">Buscar en Jumbo.cl</span></a>
                </li>
        </ul>

    </div>
</nav>