<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li>
                <a ng-if="user == null">
                    <i class="fas fa-sign-in-alt" g-login></i>
                </a>
                <a ng-if="user != null" ng-click="logoff()">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.combustible">
                    <i class="fas fa-gas-pump"></i>
                    <span class="nav-label">Combustible</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.products">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="nav-label">Productos</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.torrents">
                    <i class="fas fa-cloud-download-alt"></i>
                    <span class="nav-label">Torrents</span>
                </a>
            </li>
        </ul>
    </div>
</nav>