<div class="row border-bottom" ng-show="false">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a ng-if="user == null" g-login>
                    <i class="fas fa-sign-in-alt"></i> Log in
                </a>
                <a ng-if="user != null" ng-click="logoff()">
                    {{user.name}} <br />
                    <i class="fas fa-sign-out-alt"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>