.center-block {
    float: none !important
}
.product-imitation-small {
    text-align: center;
    padding: 50px 0;
    color: #bebec3;
    font-weight: 600;
 }

 .middle td{
     vertical-align: middle !important;
 }

 .btn-monitor{
     min-width: 87px;
 }

 .btn-login{
     margin-bottom: 5px;
 }